*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: monospace;
    font-size: 16px;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(194, 0, 0);
}

header h1::before{
    content: "🐱‍🐉";
}

header h1{
    width: 25%;
    margin-left: 5px;
}

header nav{
    width: 75%;
    
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
}

header nav ul li{
    margin: 0px 5px;
}


.hero {
    position: relative;
    width:  80%;
    margin: 0 auto;
    padding-top: 80px;
}

.hero figure{
    width: 100%;
    margin: 0 auto;
}

.hero figure img{
    width: 100%;
    height: auto;
    display: block;
}

.hero .text{
    position: absolute;
    top: 50%;
    left: 40%;
    color: rgb(19, 196, 51);
    text-align: center;
}

.hero .text .h2{
    font-size: 2rem;
}

.blog{
    width: 100%;
    
    background-color: antiquewhite;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog article{
    width: 80%;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
}

.codingLanguage {
    width: 100%;
    background-color: black;
    color: green;
    margin: 0px;
    padding: 5px;
}

.codingLanguage ul {
    margin: 0px 15px;
    list-style: circle;
    padding: 5px;
}



.codingLanguage ul h3{
    position: sticky;
    top: 100px;
    background-color: green;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
}




















